@model Nop.Plugin.Widgets.ProductNotice.Models.PublicInfoModel
@{
    Layout = "";
}

@* Just some ugly text to get the point across that there is text here.*@
<div style="margin: 10px;">
    <div style="margin: 0 auto; display: table; width: 99%; text-align: center;">
        <h1 style="color: red;">@Model.Notice</h1>
    </div>
</div>
